<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/cdn/styles.css">
    <title>Odaya giriş</title>
</head>
<body>
    <div class="container">
        <form class="" method="post" action="/" >
            <label for="name" class="">Uscırname</label>
            <input type="name" name="name" id="name" class="form-control" placeholder="ad soğyadq kqk anlrs" required="">
        <button type="submit" class="btn btn-primary">Giriş yap</button>
    </div>
</form>
</body>
</html>
<style>
    body {
        background: #33abf0;
    }
</style>


